
/* Typography 
______________________________________________*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2rem;
  margin-bottom: 1rem;}
h1 { font-size: 4.2rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.7rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.2rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; color: #BCBCBC; }
h5 { font-size: 1.7rem; line-height: 1.5;  letter-spacing: -.05rem;}
h6 { font-size: 1.3rem; line-height: 1.6;  letter-spacing: 0; color: #BCBCBC;}

body {
   margin: 0px;
   min-height: 100%;
    background-color: #424242;
}

/* Header and Footer
______________________________________________*/
.header{
 color: #D4D4D4; 
 background-color: black;
 font-family: 'Orbitron', sans-serif;
 font-weight: 200;
 padding-top: 3px;
 padding-bottom: 10px;
 padding-left: 35px;

}

.footer{
 text-align: center;
 color: #424242;
 text-transform: uppercase;
 background-color: #BCBCBC;

 font-family: 'Orbitron', sans-serif;
 font-weight: 200;
 padding: 10px;
}


/* Navigation bar
______________________________________________*/

.nav{
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-top:-35px;
  font-family: 'Times', sans-serif;

}

.item,
{
  flex-grow: 1;
  color: white;
  text-align: center;
  padding: 50px;

}

a {
  display: flex;
  flex-flow: row;
  color: white;
  /*display: inline-block;*/
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

a:hover, a:active {
  background-color: #424242; 
  color: white;
  border-radius: 5px 5px 0px 0px;

}

/* Main 
______________________________________________*/



.grid {
  display: flex;
  flex-flow: column;
  justify-content: center;
  float: center;

}


.introbox {
  margin: 25px;
  border: 3px solid #333333;
  font-family: 'Orbitron', sans-serif;
  border-radius: 8px;
  color: #4099FF;
}

.img {
    width: 150px;
    height: 150px;
    margin: 40px -10px 0px 20px;
    float:left;
}

img {
    border-radius: 125px;
}

.introcontent {
  margin: 28px 19px 0px 1px;
  margin-left: 15%;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
}

