/*html {
   margin: 0px;
   height: 100%;
   width: 100%;
}*/

/* Typography 
______________________________________________*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2rem;
  margin-bottom: 1rem;}
h1 { font-size: 3.8rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.3rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; color: #BCBCBC; border-bottom:black; }
h5 { font-size: 1.3rem; line-height: 1.5;  letter-spacing: -.05rem;}
h6 { font-size: 1.0rem; line-height: 1.6;  letter-spacing: 0; color: #BCBCBC;}

body {
   margin: 0px;
   min-height: 100%;
    background-color: #424242;

/*   width: 100%;*/
}

/* Game
______________________________________________*/
#canvas {
  display: block;
  margin-top: 50px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 50px;
/*  border: 5px solid #333333;*/
}

/* Header and Footer
______________________________________________*/
.header{
/* text-align: center;*/
 /*color: #3299BB;*/
 color: #000066;
 background-color: #BCBCBC;
/*background-color: white;*/
 font-family: 'Orbitron', sans-serif;
 font-weight: 600;
 padding-top: 3px;
 padding-bottom: 3px;
 padding-left: 35px;

}

.footer{
 text-align: center;
 color: #424242;
 text-transform: uppercase;
 background-color: #BCBCBC;

 font-family: 'Orbitron', sans-serif;
 font-weight: 600;
 padding: 10px;
}

/* Navigation bar
______________________________________________*/

.nav{
  display: flex;
  flex-flow: row;
  align-items: stretch;
/*  justify-content: center;*/
  /*background-color: #585858;*/
  background-color: #BCBCBC;
/*  margin-top:-50px;*/
  font-family: 'Times', sans-serif;
/*  border-bottom: black solid;*/
}

.item,
{
  display: stretch;
  flex-grow: 1;
  background: #DB5800;
  color: white;
  text-align: center;
  padding: 30px;


}

a {
  color: white;
  display: inline-block;
/*  width: 100%;*/
  font-weight: bold;
  background-color: #98bf21;
  text-align: center;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

a:hover, a:active {
  background-color: white; 
  color: #98bf21;

}

/* Main 
______________________________________________*/



.grid {
  display: flex;
  flex-flow: column;
  justify-content: center;
  float: center;

}


.introbox {
  /*width: 960px;*/
  /*height: 200px;*/
  padding-left: 30px;
  margin: 10px;
/*  background-color: white;*/
/*  border: 5px solid #333333;*/
  font-family: 'Orbitron', sans-serif;
  border-radius: 8px;
  /*color: blue;*/
  color: #BCBCBC ;
}

.img {
    width: 150px;
    height: 150px;
    margin: 40px -10px 0px 20px;
    float:left;
}

img {
 /*   border: 5px solid;
    border-color: blue;*/
    border-radius: 125px;
}

.introcontent {
  margin: 36px 19px 0px 1px;
  margin-left: 30%;
  color: white;
  font-family: Times;
}

