
#form{
	background-color: lightblue;
	opacity: 50%;
    border: 3px black solid;
    width: 40%;
    height:50%;
    padding:6px;
}

#header{
	background-color: orange;	
	line-height:25px;
    padding:6px;
}

li{
	list-style: none;
	display: inline-block;
}

#footer{
	background-color: red;	
	line-height:25px;
	text-align: center;
}


#commentAppend{
	background-color: pink;
    height: 444px;
    width: 424px;
    float: right;
}
